@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@import url('Styles/themes.css');
@import url('Styles/scrollbar.css');

@font-face {
    font-family: nasinnanpa;
    src: url("./assets/Nasin Nanpa.otf");
}

@font-face {
    font-family: itcdemi;
    src: url("./assets/itcdemi.ttf");
}

@font-face {
    font-family: Fredokaa;
    src: url("./assets/Fredoka.ttf");
}

button:hover,
a img:hover,
a:hover,
clickable:hover {
    cursor: var(--cursor2) 0 0, auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: var(--cursor1) 0 0, auto;
}

body {
    font-family: var(--font);
    background-color: var(--mantle);
    background-image: var(--bg);
    background-position: var(--bgshift) center;
    background-size: var(--bgsize);
    background-repeat: no-repeat;
    color: var(--text);
    line-height: 1.6;
}

html,
body {
    min-height: 100vh;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
}

* {
    scrollbar-width: none;
}

a {
    color: var(--blue);
}

/* Fox Oneko */
div[id*=oneko] {
    background-image: url(./assets/fox.png) !important;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 2rem;
    min-height: 200vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.content-columns {
    display: flex;
    gap: var(--cardpadding);
    flex-wrap: wrap;
}

.column,
.sidecolumn {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: var(--cardpadding);
}

.column {
    min-width: 600px;
}

.sidecolumn {
    max-width: 400px;
}

.card {
    background: var(--base);
    background-size: var(--cardbgsize);
    border-radius: 0;
    padding: var(--cardpadding);
    box-shadow: var(--cardshadow);
    border: var(--cardborder);
}

.thin-card {
    background: var(--base);
    background-size: var(--cardbgsize);
    border-radius: 0;
    padding: 1rem;
    box-shadow: var(--cardshadow);
    border: var(--cardborder);
}

.sections-row {
    display: flex;
    align-items: stretch;
    gap: 10px;
    width: 100%;
}

.profile-section-dual {
    flex: 1 1 0;
    min-width: 0;
    text-align: center;
}

.divider {
    width: 2px;
    border-left: var(--cardborder);
}

body hr {
    border: 0;
    border-top-width: 0px;
    border-top-style: none;
    border-top-color: currentcolor;
    border-top: 2px dashed var(--surface0);
}

h1 {
    color: var(--mauve);
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

.buttons-section a {
    height: 31px;
}

/* fix smaller screens */
@media (max-width: 768px) {
    .content-columns {
        flex-direction: column;
    }

    .column {
        flex: none;
        width: 100%;
    }
}

.hover-text .letter,
.section-title img {
    display: inline-block;
    transition: transform 0.15s ease;
}

.hover-text .letter:hover,
.section-title img:hover {
    transform: var(--titlehovertrans);
}

.section-title {
    color: var(--pink);
    margin-bottom: var(--cardpadding);
    justify-content: center;
    display: flex;
    align-items: center;
}

.column .section-title {
    margin-top: 0rem;
}

.section-title img {
    image-rendering: pixelated;
    margin-top: 4px;
    margin-right: 6px;
}
