:root {
    /* Catppuccin Mocha Colors */
    --base: #1e1e2e;
    --mantle: #181825;
    --crust: #11111b;

    --text: #cdd6f4;
    --subtext1: #bac2de;

    --surface0: #313244;
    --surface1: #45475a;
    --surface2: #585b70;

    --pink: #f5c2e7;
    --mauve: #cba6f7;
    --red: #f38ba8;
    --lavender: #b4befe;
    --blue: #89b4fa;
}

body,
body[data-theme="mocha"] {
    --base: #1e1e2e;
    --mantle: #181825;
    --crust: #11111b;

    --text: #cdd6f4;
    --subtext1: #bac2de;

    --surface0: #313244;
    --surface1: #45475a;
    --surface2: #585b70;

    --pink: #f5c2e7;
    --mauve: #cba6f7;
    --red: #f38ba8;
    --lavender: #b4befe;
    --blue: #89b4fa;

    --cardbgsize: 100% 100%;
    --bg: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/city.png");
    --bgsize: cover;
    --bgshift: center;
    --font: "Fredokaa", "nasinnanpa", sans-serif;
    --cursor1: url("./assets/niko1.gif");
    --cursor2: url("./assets/niko2.gif");
    --biobullets: url("./assets/bullets/pink-paw.gif");

    --cardpadding: 1rem;
    --cardshadow: 15px 20px 20px rgba(0, 0, 0, 0.6);
    --cardborder: 1px solid var(--surface0);
    --buttonborder: 1px solid var(--surface1);
    --buttonshadow: 0;
    --halfgap: calc(var(--cardpadding)/2);

    --hovertrans: translateY(-2px);
    --titlehovertrans: translateY(-4px) rotate(0.05turn);
}

.mochabutton:hover {
    cursor: url("./assets/niko2.gif") 0 0, auto !important;
}
