body[data-theme="wellsoon"] {
    /* Catppuccin Latte Colors */
    --base: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("https://plushiekitty.party/assets/wellsoon-blackboard.png");
    --cardbgsize: 100% 100%;
    --mantle: #272936;
    --crust: #2f3447;

    --text: #c4cada;
    --subtext1: #747a8a;

    --surface0: #111217;
    --surface1: #272936;
    --surface2: #2f3447;

    --pink: #6991c5;
    --mauve: #9fb58f;
    --red: #c5696b;
    --lavender: #6991c5;
    --blue: #6991c5;

    --bg: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/assets/wellsoon-background.png");
    --bgsize: cover;
    --bgshift: 78%;
    --font: "Schoolbell", "Fredokaa", "nasinnanpa", sans-serif;
    --cursor1: url("./assets/wellsoon-cursor0.png");
    --cursor2: url("./assets/niko2.gif");
    --biobullets: url("./assets/bullets/cyan-paw.gif");

    --cardpadding: 1rem;
    --cardshadow: 7px 10px 15px rgba(0, 0, 0, 0.5);
    --cardborder: 5px solid rgba(39, 41, 54, 1);
    --cardborderwidth:5px;
    --cardborderimage: linear-gradient(325deg,rgba(17, 18, 23, 1) 0%, rgba(39, 41, 54, 1) 50%, rgba(47, 52, 71, 1) 100%) 1;
    --buttonborder: 2px solid var(--surface1);
    --buttonshadow: 0;
    --halfgap: calc(var(--cardpadding)/2);

    --hovertrans: translateY(-4px);
    --titlehovertrans: translateY(-4px) rotate(0.05turn);
}

.wellsoonbutton:hover {
    cursor: url("./assets/wellsoon-cursor0.png") 0 0, auto !important;
}
