/**
 * @name         MochaTweaks
 * @description  Minor tweaks that make discord better!
 * @author       Mocha
 * @id cat.kitties.arcane.tweaks
**/

/* Forum Improvements */
@import url("https://minidiscordthemes.github.io/Snippets/ForumImprovements/main.css");

/* Be silly :3 */
:root{
  --prompt-text: "be silly :3";
}
/* custom chat bar input text  */
[class*=placeholder][class*=slateTextArea] {visibility: hidden;}
[class*=placeholder][class*=slateTextArea]::before {visibility: visible;content: var(--prompt-text); /* dont break your quotes :3 */}

/* @ symbol addition before the Username in as many places possible! */
@import url("https://raw.githubusercontent.com/ColynOrg/CSS-Snippets/main/UsernameSymbol.css");

/*Hide timestamps unless you hover over a message*/
.timestampInline__430cf {
  visibility: hidden;
}

.text-md-normal__6e567 .timestampInline__430cf {
  visibility: visible; 
}

/* Hide Nitro gift button */
button[aria-label="Send a gift"] {
    display: none;
}

/* Hide sticker picker button */
button[aria-label="Open sticker picker"] {
    display: none;
}

/* Hide annoying sticker popup window that appears when you type */
.da-channelTextArea > .container-JHR0NT {
    display: none;
}

/* Remove Big Nitro Button */
#private-channels-2.clickable-1JJAn8 {
    display: none;
}

/* Remove DogeHouse Competition */
#private-channels-1.clickable-1JJAn8 {
    display: none;
}

/*Hide chat box if you have no permissions to write in the channel */
[class*=channelTextAreaDisabled] {
  display: none!important;
}
[class*=channelTextAreaDisabled] {
  opacity: 0!important;
  position: absolute!important;
  height: 0px!important;
  width: 0px!important;
  z-index: 0!important;
}

/* Makes it so that when you hover over cropped text it rolls to reveal the full text */
.header_a0:hover .headerText_a0 {
  animation: scrollText 8s linear infinite;
  width: 12rem;
}
@keyframes scrollText {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Makes the Summaries dropdown a lot bigger */
div[class^=topicsScroller_] {
  max-height: calc(100vh - 2.5in);
}
:has(> div[class^=topicsScroller_]) {
  width: calc(100% - 8q);
}

/* Fix discord insanity */
[class^=userPopoutInner_] [class^=blockquoteContainer_] {
  max-height: 90px;
}

/* Make the appearance tab slightly more bearable to look at (moves controls to where they should be and hopefully removes all nitro upsells) */
div[id="appearance-tab"] div [class*=children] {
  /* Move the display preview to the top */
  div[tabindex="-1"] {
    order: 0;
  }
  /* Move its controls below it */
  div[class*=marginTop8_]:nth-of-type(3) {
    order: 1;
  }
  /* Nitro upsells */
  div[class*=marginTop8_]:nth-of-type(2) {
    order: 3;
  }
  /* The nitro icon */
  div[aria-label="Exclusive to Nitro"] svg[class*=nitroWheel] {
    display: none;
  }
  /* The "Only with Nitro." labels */
  h3[data-text-variant="text-sm/normal"] {
    display: none;
  }
  /* Redundant title, also blends in themes more */
  h3[aria-label="Color"] {
    display: none;
  }
  /* Move chat font scaling, zoom level, etc. to where it should be */
  div[class*=marginTop20_] {
    order: 10;
  }
}

/* Make the theme menu slightly more bearable to look at */
div[class^=premiumFeatureBorder] {
  /* Disable the border */
  border: none;
  div[class^=background_] {
    padding: 0px;
  }
  /* Blend in the nitro themes with the rest of the theme selector */
  div[class^=title] {
    display: none;
  }
  div[class^=tryItOutButtons] {
    display: none;
  }
  h3[class^=defaultColor] {
    display: none;
  }
}

/* Pastel Statuses */
rect[fill='#23a55a'], svg[fill='#23a55a'] {
  fill: #80c968 !important;
}
rect[fill='#f0b232'], svg[fill='#f0b232'] {
  fill: #e7ca45 !important;
}
rect[fill='#f23f43'], svg[fill='#f23f43'] {
  fill: #e0526c !important;
}
rect[fill='#80848e'], svg[fill='#80848e'] {
  fill: #696e88 !important;
}
rect[fill='#593695'], svg[fill='#593695'] {
  fill: #ac7de6 !important;
}

/* The people who need glasses to see emojis from other servers, say no more. */
img[class="emoji otherEmoji_e58351"]:hover {
  transform: scale(2);
}

/* Reaction hover with flip animation */
[class^=reaction_]:not(:has(.burstGlow_ec6b19)) .emoji {
  transition: transform 0.6s ease;
  transform-style: preserve-3d; /* Enables 3D transformations */
}
[class^=reaction_]:not(:has(.burstGlow_ec6b19)):hover .emoji {
  animation: flipAndScale 0.6s forwards;
}
@keyframes flipAndScale {
  from {
    transform: rotateY(0deg) scale(1);
  }
  to {
    transform: rotateY(360deg) scale(1.5);
  }
}

/* Custom "I'm new here, say hi!" */
[class*=newMemberBadge]:before {
  content: url(https://media.discordapp.net/stickers/1272085262205325352.gif?size=64&quality=lossless);
  transform: translate(-100%, -110%);
  display: inline-block;
  scale: 0.32;
}

/* Match Status Bubble Text color with Profile Theme Color */
.custom-profile-theme [class^=statusBubble_] [class^=defaultColor_] {
  color: var(--theme-text-color-dark) !important;
}

/* Match Status Bubble Color with Profile Button Color */
.custom-profile-theme [class^=statusBubble_],
.custom-profile-theme [class^=statusBubbleOuter_]:before,
.custom-profile-theme [class^=statusBubbleOuter_]:after {
  background-color: var(--profile-gradient-button-color) !important;
}
