@import url('/Styles/themes/mocha.css');
@import url('/Styles/themes/okc.css');
@import url('/Styles/themes/glen.css');
@import url('/Styles/themes/hypr.css');
@import url('/Styles/themes/wellsoon.css');
@import url('/Styles/themes/snow.css');

:root {
    /* Catppuccin Mocha Colors */
    --base: #1e1e2e;
    --mantle: #181825;
    --crust: #11111b;

    --text: #cdd6f4;
    --subtext1: #bac2de;

    --surface0: #313244;
    --surface1: #45475a;
    --surface2: #585b70;

    --pink: #f5c2e7;
    --mauve: #cba6f7;
    --red: #f38ba8;
    --lavender: #b4befe;
    --blue: #89b4fa;
}
